---
---

@import "{{ site.theme }}";

// Reset theme layout from floats to CSS grid
.wrapper {
  display: grid;
  width: unset;
  grid-template-columns: 270px auto;
  grid-template-areas: "sidebar main";
}

.wrapper > section {
  grid-area: main;
  min-width: 0; /* Grids have min-width: auto, <pre> breaks that */
  float: none;
  width: unset;
}

header {
  grid-area: sidebar;
  float: none;
  width: unset;
}

@media print, screen and (max-width: 960px) {
    .wrapper {
        display: block;
    }

    .header {
        position: static;
    }
}